::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    background-color: var(--body-bg-clr);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-clr);
    border-radius: 4px;
}

body {
    --body-bg-clr: #f1f2f4de;
    --body-txt-clr: #444;
    --box-bg-clr: #ffffffcc;
    --box-bg-clr-solid: #ffffff;
    --tertiary-clr: #59626f;
    --brightness: brightness(100%) contrast(1);
}

/* header */
.header .top-bar {
    background-color: rgba(38, 43, 62, .5);
    padding: 15px 0;
}

.header ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header .top-bar .contact-info li {
    color: #fff;
    float: left;
    font-size: 14px;
    font-size: .875rem;
}

.header .top-bar .contact-info ul>li+li {
    margin-left: 50px;
}

.header .top-bar .social {
    float: right;
}
.header .top-bar .social ul li {
    float: left;
}
.header .top-bar .social a {
    color: #fff;
    font-size: 15px;
}
.header .top-bar .social ul>li+li {
    margin-left: 15px;
}